<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta http-equiv="cleartype" content="on" />
    <meta name="MobileOptimized" content="width" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui" />
    <meta name="HandheldFriendly" content="true" />
    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

    <!-- build:css({app,.tmp}) /css/main.css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/_bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="/css/ada.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <!-- endbuild -->
    <!-- endbuild -->

  </head>
  <body>
  </body>
    <div class="container">
      <div class="row">
        <div class="content-container col-xs-12 col-sm-9 col-sm-offset-1 col-md-7 col-md-offset-2 col-lg-6 col-lg-offset-2">
          <div class="header-row">
            <div class="header-box">
              <h1 class="pageTitle"><a href="{{ page.url }}">{{ page.title }}</a></h1>
            </div>
          </div>
          <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
          <![endif]-->
          <div class="content">
            {{ content }}
          </div>
        </div>
        <span class="icon-user btn btn-left" id="meButton"></span>
        <span class="icon-list-nested btn btn-right" id="commentButton"></span>
        {% include leftbox.html %}
        {% include rightbox.html %}
      </div>
    </div>
    {% include scripts.html %}
  </body>
</html>
