<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta http-equiv="cleartype" content="on" />
    <meta name="MobileOptimized" content="width" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="HandheldFriendly" content="true" />
    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

    <!-- build:css({app,.tmp}) /css/main.css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/_bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/ada.css">
    <!-- endbuild -->
    <!-- endbuild -->

  </head>
  <body>
  </body>
    <div class="hexes1">
      <div id="bg-hex1" class="hexagon"><div class="hexagon-in1"><div class="hexagon-in2"><div class="hexagon-background"></div></div></div></div>
      <div id="bg-hex2" class="hexagon"><div class="hexagon-in1"><div class="hexagon-in2"><div class="hexagon-background"></div></div></div></div>
      <div id="bg-hex3" class="hexagon"><div class="hexagon-in1"><div class="hexagon-in2"><div class="hexagon-background"></div></div></div></div>
    </div>
    <div class="hexes2">
      <div id="bg-hex4" class="hexagon"><div class="hexagon-in1"><div class="hexagon-in2"><div class="hexagon-background"></div></div></div></div>
      <div id="bg-hex5" class="hexagon"><div class="hexagon-in1"><div class="hexagon-in2"><div class="hexagon-background"></div></div></div></div>
      <div id="bg-hex6" class="hexagon"><div class="hexagon-in1"><div class="hexagon-in2"><div class="hexagon-background"></div></div></div></div>
    </div>
    <div class="container">
      <div class="row">
        <div class="left-box"><h1>Hello World</h1></div>
        <div class="right-box"><h1>Hello World 2</h1></div>
        <span class="icon-user btn btn-left" id="meButton"></span>
        <span class="icon-list-nested btn btn-right" id="commentButton"></span>
        <div class="content-container col-xs-12 col-sm-9 col-sm-offset-1 col-md-7 col-md-offset-2 col-lg-6 col-lg-offset-2">
          <div class="header-row">
            <div class="header-box">
              <h1 class="pageTitle"><a href="{{ page.url }}">{{ page.title }}</a></h1>
            </div>
          </div>
          <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
          <![endif]-->
          <div class="content">
            {{ content }}
            <div id="disqus_thread"></div>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
          </div>
        </div>
      </div>
    </div>
    {% include scripts.html %}
    <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'adaroseedwards'; // required: replace example with your forum shortname
      var disqus_identifier = ("{{ page.title }}").replace(/[^a-zA-Z0-9]/g,'_');
      function disqus_config() {
          this.callbacks.afterRender.push(function() {
            console.log("boot");
            alert('boo');
            debugger;
          });
      }
      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
  </body>
</html>
