$icon-font-path: "/bower_components/bootstrap-sass/vender/assets/fonts/";

@import 'bootstrap-sass/vendor/assets/stylesheets/bootstrap';

body, html, body > div {
    height: 100%;
    background:  url('/images/light_noise_diagonal.png');
    background-size:120px;
}

body > div:nth-child(1) {
    background: url('/images/light_noise_diagonal.png');
    box-shadow: 0em 0 5em 1em  rgba(0,0,0,0.5);
    border: 1px solid $gray-light;
    border-top: none;
    border-bottom: none;
    z-index:1;
}

body > div:nth-child(2) {
    background-image: url('/images/_ADA2451.jpg');
    background-size: cover;
    background-position:center;
}

h3.title {
    font-weight: 800;
    font-size: 5em;
    color: $gray;
    text-shadow: -1px -1px $gray-lighter inner, 1px 1px 3px black;
}