<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ page.title }} - {{ site.description}}</title>
	<meta name="description" content="">
	<meta http-equiv="cleartype" content="on" />
	<meta name="MobileOptimized" content="width" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui" />
	<meta name="HandheldFriendly" content="true" />
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@lady_ada_king" />
	{% if page.author %}
		<meta name="twitter:title" content="{{ page.title }} by {{ page.author }}" />
		<meta name="twitter:description" content="{{ page.excerpt  | strip_html }}" />
		<meta name="twitter:url" content="{{ page.url }}" />
	{% else %}
		<meta name="twitter:title" content="{{ site.name }}" />
		<meta name="twitter:description" content="{{ site.description}}" />
		<meta name="twitter:url" content="{{ page.url }}" />
	{% endif %}
	<link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,600,800' rel='stylesheet' type='text/css'>
    <meta name="theme-color" content="#FFF0F5">
	<!--preload fonts and images so they get pulled down earlier-->
	<style>
		body:before {
			content: url("/img/pattern.svg");
			position: absolute;
			width: 10px;
			height: 10px;
			overflow: hidden;
			z-index: -1;
			opacity: 0;
		}
		body:after {
			content: "Preload Fonts";
			font-family: 'Open Sans', 'sans-serif';
			position: absolute;
			z-index: -1;
			opacity: 0;
		}
	</style>
	<!-- build:css({app,.tmp}) /css/main.css -->
	<link rel="stylesheet" href="/style/bootstrap.min.css">
	<link rel="stylesheet" href="/styles/ada.css">
	<!-- endbuild -->
</head>
