
.left-box {
	top: 0;
	width: 100%*1.2;
	left: -100%*1.2;
	padding-left: (100% * 0.2);
	position: absolute;
	height: 100%;
	background: $dark-background;
	color: $background;

	.diamond-container {
		position: relative;
		width: 80%;
		padding: 40%;
		margin-left: 10%;
		overflow: hidden;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;

		.diamond {
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			overflow: hidden;
			transform: rotate(45deg);
			box-shadow: 0 0 1em 2em black inset;
				
			&:before {
				$a: -2%;
				display: block;
				position: absolute;
				left: $a;
				top: $a;
				right: $a;
				bottom: $a;
				content: "";
				background: url(https://s.gravatar.com/avatar/e137ba0321f12ecb5340680815b42c26?s=400) center center no-repeat;
				background-size: contain;
				transform: rotate(-45deg);
				box-shadow: 0.5em 0.5em 1em -0.5em black inset;
			}
		}
	}

	.term {
		border: 1px solid white;
		border-top: 1em solid white;
		margin: 1em;
		box-shadow: 0 0 1em black;
		background: darken($dark-background, 10%);
	}

	h1 {
		text-align: center;
	}

	code {color: white;}
}