
body.special, body.special-index {
	.row.header {
		background: url("/img/pattern.svg");
		background-size: cover;
		padding: 1em;
	}

	.home.posts {
		a.article-link {
			position: relative;
			display: block;
			padding: 0.3em;
			margin: 0;

			article {
				margin: 0.2em 0.2em 0.2em -1em;
				display: block;
				box-shadow: 1em 1em 0 rgba(darken($background, 50%), 0.2);
				background: lighten($background, 50%);
				max-width: 90vw;
				padding-left: 1em;

				h1 {
					margin: 0;
				}
			}
		}
	}
}

body.special-index {

	.container {
		background: #FFF0F5;
	}

	@media screen and (orientation: landscape) {
		.row.header {
			width: 100vh;
			height: 100vh;
			float: right;
		}

		.home.posts {
			margin-left: calc(100vh - 100vw);
		}
	}


	@media screen and (orientation: portrait) {
		.row.header {
			width: 100vw;
			height: 100vw;
		}
	}
}

body.special {

	.row.header {
		height: auto;
		min-height: 50vh;
		width: 100%;
		text-align: center;
		position: relative;
		overflow: visible;
		padding-top: 1em;

		.hero {
			font-weight: 300;
			font-size: 2em;
		}

		.hero-subtitle {
			font-style: italic;
			font-weight: 300;
			font-size: 1.5em;
		}

		.page-title {
			font-weight: 800;
			font-size: 2.5em;
		}
	}

	.row.body {
		padding-top: 2em;
	}

	.content-container {
		height: 100%;
		background-color: white;
	}

	time {
		font-size: 1.5em;
		font-weight: 300;
		font-style: italic;
		margin-top: 1em;
	}

	.by-box {
		text-align: center;
	}

	.head-hexagon {
		text-align: initial;
		position: relative;
		left: 50%;
		z-index: 2;
		transform: translate(-50%, 0) scale(0.5);
		transition: transform 600ms ceaser($resizeAnim);
		@media (min-width: $screen-sm-min) {
			transform: translate(-50%, 0) scale(0.75);
		}

		@media (min-width: $screen-md-min) {
			transform: translate(-50%, 0) scale(0.9);
		}

		@media (min-width: $screen-lg-min) {
			transform: translate(-50%, 0) scale(1.0);
		}
	}

	.row.footer {
		color: lighten($foreground, 50%);
		padding: 1em;
	}
}