@import "helpers";
@import "vars";

$background: #00A6D6;
$foreground: #ffffff;
$dark-background: darken($foreground, 80%);
$leftBoxWidth: 16em;
$rightBoxWidth:28em;
$padding: 1em;

@import "font";

html, body {
	position: fixed;
}

html, body, .container, .row {
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

@import "speciallayout";
@import "defaultlayout";
@import "leftbox";
@import "rightbox";
@import "header";
@import "hexagons";
@import "helpers";